.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 8vh;
}

h1{
    font-size: 6vh;
    text-align: center;

    width: 100%;
    height: 8vh;


    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.contenido{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;

    margin: 0 2% 1% 2%;

    height: 100%;
}

#texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 45%;
}

h2{
    color: black;
    font-size: 5vh;

    margin-bottom: 2%;
}

h4{
    font-size: 4vh;

    margin: 1%;
}

h3{
    font-size: 4vh;
    text-decoration: underline;
    margin: 5% 0 1% 0;
}

#texto p{
    font-size: 3vh;
}

#correo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;

    width: 25%;
}

#correo i{
    font-size: 3vh;
}

#correo p, #correo i{
    color: #8B5A2B;
    font-weight: bold;
}

#ajuste-sociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#circulo-sociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 40vh;
    height: 40vh;

    background: radial-gradient(#e09147, #8B5A2B);
    border-radius: 50%;
}

#circulo-sociales a:hover img{
    transform: rotate(360deg);
    transition: 1s;
}

img{
    width: 20vh;
    height: 20vh;
}

#logo{
    transform: rotate(120);
}

.sociales-flotante{
    position: absolute;
}

.sociales-flotante img{
    width: 7vh;
    height: 7vh;
}

#flotante-twitter{
    top: 1%;
}

#flotante-whastapp{
    top: 25%;
    left: 6%;
}

#flotante-telegram{
    left:22%;
    bottom: 4%;
}

#flotante-whastapp img, #flotante-telegram img{
    border-radius: 50%;
}

#flotante-facebook{
    right:22%;
    bottom: 4%;
}

#flotante-instagram{
    top: 25%;
    right: 6%;
}

#campos-relleno{
    display: flex;
    flex-direction: column;
    gap: 3vh;

    
    width: 50%;
    height: 100%;
    object-fit: cover;
}

#campos-texto{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.rellenar-texto, input{
    width: 100%;
    height: 10vh;
}

.rellenar, .rellenar input, select{
    width: 100%;
    height: 100%;
}

select{
    font-size: 6vh;
}

input, textarea{
    border: 1px solid #dc3545;
    background-color: #eba4aa;
    border-radius: 4px;

    font-size: 2vh;

    height: 100%;
}

input:not(:placeholder-shown):valid, textarea:not(:placeholder-shown):valid{
    border: 2px solid #c58940;
    background-color: white;
    color: #c58940;
    border-radius: 4px;
}

#Mensaje{
    width: 100%;
    height: 25vh;

    resize: none;
}

#aceptar-terminos{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    margin: 1%;
}

#aceptar-terminos p{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1vh;

    font-size: 3vh;

    width: 100%;
}

#checkbox{
    height: 5vh;
    width: 10%;
}

#aceptar-terminos a{
    color: blue;
}

#btn-enviar{
    display: block;

    width: 100%;
    height: 8vh;
}

#enviar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5%;

    background-color: #8B5A2B;
    border-radius: 4px;

    font-size: 4vh;
    color: white;
    height: 100%;
}

#enviar:hover{
    background-color: black;
}

#enviar p{
    font-size: 4vh;
}

@media (orientation: portrait){
    main{
        padding-top: 10vh;
    }

    .contenido{
        display: flex;
        flex-flow: column wrap;
        gap: 2vh;

        width: 90%;
    }

    #texto, #campos-relleno{
        width: 90%;
    }

    #texto p{
        font-size: 3vh;
    }
}