* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* outline: auto; */
}



.botones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    margin-top: 1%;

    color: white;
    background-color: black;
    font-size: 1vw;
    text-decoration: none;

    width: 20vh;
    min-width: 20vh;
    height: 4vh;
}

.botones:hover {
    color: #8B5A2B;
    transform: scale(1.01);
    transition: 0.2s;
}

h2{
    color: #8B5A2B;
    font-size: 50%;
    margin-bottom: 3vh;
}

h3{
    font-size: 25%;
}

p{
    font-size: 2vh;
}

p.grisaceo {
    color: darkgrey;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    padding-top: 6%;
    min-height: 90vh;
}

@media (max-width: 375px) {
    .botones{
        width: 4vw;
        height: 5vh;
    }

    .botones *{
        font-size: 2vh;
    }
}